/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: middle;
  font-family: 'Catamaran', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */

.container {
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
  margin: 200px auto 0;
}
.container-btn {
  box-sizing: inherit;
  height: 300px;
  width: 1000px;
  text-align: center;
  background: steelblue;
  border-radius: 0 15px 15px 0;
}
.container-scoreboard {
  box-sizing: inherit;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  border-width: 0 0 1px 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 15px 0 0 15px;
}

.container-btn, .container-scoreboard {
  display: inline-block;
}

.container-player, .container-computer {
  display: block;
  box-sizing: inherit;
  height: 150px;
  width: 300px;
}

/* buttons */

.buttons {
  box-sizing: inherit;
  display: inline-block;
  height: 210px;
  width: 210px;
  margin: 45px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.buttons:hover {
  transform: scale(1.1);
  box-shadow: 0 0 7px 10px #fff;
}

#rock {
  background-image: url(../images/rock-paper-scissors.jpg);
  background-size: 1400px 519px;
  background-position: -70px -70px;
}

#paper {
  background-image: url(../images/rock-paper-scissors.jpg);
  background-size: 1400px 519px;
  background-position: -585px -63px;
}

#scissors {
  background-image: url(../images/rock-paper-scissors.jpg);
  background-size: 1400px 519px;
  background-position: -1105px -65px;
}

/* result display */

.score {
  display: inline-block;
  box-sizing: inherit;
  height: 150px;
  width: 150px;
  font-size: 4em;
  border-width: 1px 1px 0 0;
  border-color: gray;
  border-style: solid;
  position: relative;
}

.player-label, .comp-label {
  font-size: 1.5em;
}

.player-label {
  border-top-left-radius: 15px;
}

.score p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rndResult {
  box-sizing: inherit;
  margin: auto;
  width: fit-content;
  font-size: 2em;
}

#rndResult p {
  text-align: center;
}

#gameResult {
  box-sizing: inherit;
  margin: 30px auto 0;
  width: fit-content;
  font-size: 2em;
}

#gameResult p {
  text-align: center;
}